<template>
<div class='master'>
        <form action="http://54.94.1.109/feedback" method="post">
            <div class='text-question'>
                <h2>Nome</h2>
                <input type="text" id='name' name='name' onkeypress="border_style(event)" required>
            </div>

            <div class='text-question'>
                <h2>Email</h2>
                <input type="email" id='email' name='email' onkeypress="border_style(event)" required>
            </div>
            <div class='choice-question'>
                <h2>Quanto você se importa em manter-se atualizado sobre sua saúde?</h2>
                <label class="container">0
                    <input type="radio" name='q1' value='0' required>
                    <span class="checkmark"></span>
                </label>
                <label class="container">1
                    <input type="radio" name='q1' value='1'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">2
                    <input type="radio" name='q1' value='2'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">3
                    <input type="radio" name='q1' value='3'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">4
                    <input type="radio" name='q1' value='4'>
                    <span class="checkmark"></span>
                </label>
                <label class="container">5
                    <input type="radio" name='q1' value='5'>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class='choice-question'>
                <h2>Quanto você sente que os exames e diagnósticos passados contribuem em novas consultas?</h2>
               <label class="container">0
                    <input type="radio" name='q2' value='0' required>
                    <span class="checkmark"></span>
                </label>
                <label class="container">1
                    <input type="radio" name='q2' value='1'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">2
                    <input type="radio" name='q2' value='2'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">3
                    <input type="radio" name='q2' value='3'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">4
                    <input type="radio" name='q2' value='4'>
                    <span class="checkmark"></span>
                </label>
                <label class="container">5
                    <input type="radio" name='q2' value='5'>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class='choice-question'>
                <h2>Quanto você acredita que os médicos fazem bom uso dos dados que estão a sua disposição?</h2>
                <label class="container">0
                    <input type="radio" name='q3' value='0' required>
                    <span class="checkmark"></span>
                </label>
                <label class="container">1
                    <input type="radio" name='q3' value='1'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">2
                    <input type="radio" name='q3' value='2'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">3
                    <input type="radio" name='q3' value='3'>
                    <span class="checkmark"></span>
                </label>

                <label class="container">4
                    <input type="radio" name='q3' value='4'>
                    <span class="checkmark"></span>
                </label>
                <label class="container">5
                    <input type="radio" name='q3' value='5'>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class='text-question'>
                <h2>Deixe aqui sua opinião/sugestão/crítica sobre o projeto (Opcional)</h2>
                <textarea type="text" id='feedback' name='feedback'></textarea>
            </div>

            <label class="container">Aceito receber emails de informações do projeto.
                <input id='accept' name='accept' value='yes' type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <button type="submit" id='submit'>Enviar</button>
        </form>
    </div>
</template>

<style>
    .master {
        margin: auto;
        display: block;
        width: 85%;
    }

    .text-question {
        display: block;
        margin: 10px 0;
    }

    .text-question>h3 {
        display: block;
        margin-bottom: 10px;
        margin-top: 20px;
    }


    input[type='text'],
    input[type='email'] {
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 2px solid lightgray;
        font-size: 20px;
        text-align: bottom;
    }

    input[type='text']:focus,
    input[type='email']:focus {
        outline: none;
        border-bottom-color: #3399ff;

    }

    input[disabled]{
        background-color: #f3f3f3 !important;
    }

    .choice-question {
        display: block;
        margin: 50px 0;
    }

    .choice-question>input {
        margin: 5px 0;
    }

    .checkmark1 {
        border-radius: 0 !important;
    }

    #feedback{
        height: 300px;
        border: 2px solid lightgray;
        width: 100%;
        font-size: 20px;

    }

    /*Imported code to change radio button*/
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark,
    .checkmark1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #3399ff;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    #submit {
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 0;
        width: 300px;
        height: 50px;
        display: block;
        background-color: white;
        color: #3399ff;
        border-radius: 30px !important;
        border: 2px solid #3399ff;
        font-size: 20px;
        cursor: pointer;
    }

    #submit:hover {
        background-color: #3399ff;
        color: white;
    }

    .container .checkmark1:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark1 {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked~.checkmark1 {
        background-color: #3399ff;
    }

    .checkmark1:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked~.checkmark1:after {
        display: block;
    }
</style>

