<template>
  <div class="footer-features">
    <div class="footer-feature">
      <h4 class="title-section">Time</h4>
      <p class="paragraph-1">
        <a href="/" target="_blank">
          <strong>
            Caue Obici
            <br />
          </strong>
        </a>
        Arquitetura e Desenvolvedor
        <br />&zwj;&zwj;
        <a href="/" target="_blank">
          <strong>
            Guilherme Regueira
            <br />
          </strong>
        </a>
        Operações e Produto
        <br />&zwj;&zwj;
        <a href="/" target="_blank">
          <strong>
            Lucas Perasolo
            <br />
          </strong>
        </a>
        Operações e Desenvolvedor
        <strong>
          <br />
        </strong>
      </p>
    </div>
    <div class="footer-feature">
      <h4 class="title-section">Junte-se</h4>
      <p class="paragraph-1">
        Interessado em fazer parte desse projeto? Entre em contato:
        <br />
        <strong>contatomedcore@gmail.com</strong>
      </p>
    </div>
    <div class="footer-feature">
      <ul class="footer-links">
        <li>
          <a href="/contato/">Contato</a>
        </li>
        <li>
          <a href="/privacidade/">Política de Privacidade</a>
        </li>
      </ul>
    </div>
  </div>
</template>
<style>
.footer-features {
  border-top: 1px solid #eaecef;
  padding: 1.2rem 0;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  background-color: #fbfbfe;
}
.footer-feature {
  flex-grow: 1;
  flex-basis: 25%;
}
.title-section {
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  color: #364a63;
  display: inline-block;
  border-bottom-style: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Univers Next Pro Condensed", sans-serif;
  font-weight: 400;
  text-align: left;
}

.paragraph-1 {
  color: #4e5e72;
  font-weight: 400;
  font-size: 1em;
}

.footer-links {
  text-align: right;
  line-height: 1.6;
  list-style-type: none;
  padding-left: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
</style>
