<template>
  <div class="email-box-features">
    <div class="email-col">
      <img src="green-doc.png" />
    </div>
    <div class="join-col">
      <div class="paragraph-1">
        <h2>Gostaria de acompanhar nossos lançamentos? Entre para nossa lista de contatos.</h2>
      </div>
      <div class="email-col">
      <form action="http://54.94.1.109/add_email" method="POST">
        <div>
            <input type="email" class="form-email" name="email" placeholder="Entre seu email"/>
        </div>
        <div class="email-box-btn">
          <button class="btn-style">Confirmar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</template>
<style>
.email-box-features {
  border-top: 1px solid #eaecef;
  padding: 1.2rem 0;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
}

h2 {
  border-bottom: 0;
}

.email-col {
  flex-grow: 1;
  flex-basis: 50%;
}
.join-col {
  flex-grow: 1;
  flex-basis: 50%;
}

.form-email {
  flex-grow: 1;
  flex-basis: 50%;
  margin-bottom: 0;
  box-sizing: border-box;
  font-size: 11px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.btn-style {
  flex-grow: 1;
  flex-basis: 50%;
  overflow: visible;
  position: relative;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #6c63ff;
  color: #ffffff;
  display: block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.3rem 0.3rem;
  line-height: 1.5;
  border-radius: 30px;
  -webkit-appearance: button;
  font-family: inherit;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 240px;
  height: 40px;
}
</style>
