<template>
 <div>
    <h1>Privacy Statement</h1>
    <div class="container-row">
      <div class="content">
        <p>
          Experiencing Medcore services implies sharing with us your personal
          data and confidence. We are committed to keeping your information safe
          and your trust in the best conditions, starting by assisting you to
          understand our policy regarding privacy practices. Here you can find
          information about what data we collect, the way we do it, our
          intentions with it and your choices regarding this information. Our
          policy is written below divided into two sections: summary and full
          description. We recommend clients to read both of them.
        </p>
        <p>Last Modified: MM DD, YEAR</p>
        <p>Effective Date: MM DD, YEAR</p>
        <a href="#" target="_blank">Previous Privacy Statements</a>
      </div>
    </div>
    <div class="container-row">
      <h2>Scope</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>
          No client/user is dismissed from this policy anywhere Medcore
          operates, which is further complemented/influenced by other local
          legal guideline.
        </p>
      </div>
      <div class="content">
        <p>
          This policy describes how Medcore collects and uses personal
          information to provide our services. This policy applies to all users
          of our consulting services throughout any platform. In addition, this
          legal statement can be complemented by other statutory guidelines
          depending on clients' locations. This policy specifically applies to:
        </p>
        <ul>
          <li>
            <h4>Clients</h4>
            <p>users who request and receive ---;</p>
          </li>
          <li>
            <h4>---</h4>
            <p>users who provide ---;</p>
          </li>
        </ul>
        <p>
          All subjects referred by this policy are considered users for the
          applicability of this legal document. No subject is dismissed from
          this policy, which is affirmed and further complemented by the
          respective locations in which we operate. We encourage you to contact
          us in case of doubts and check our Frequently Asked Questions page.
        </p>
      </div>
    </div>
    <div class="container-row">
      <h2>Data controller</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>
          Medcore provides services to users in Switzerland. Medcore, is the
          only data controller and processor.
        </p>
      </div>
      <div class="content">
        <p>
          Medcore is simultaneously the data controller and processor of the
          information that it collects. So for any client, anywhere in the
          world, the controller's name and address is:
        </p>
        <div class="contact">
          <strong>
            Medcore<br />
            Mythenquai 26<br />
            8002 Zürich <br />
            Switzerland
          </strong>
        </div>
        <p>
          Any request related to privacy practice can be at
          <a href="#" target="_blank">Data Requests</a>.
        </p>
      </div>
    </div>
    <div class="container-row">
      <h2>The information we collect</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>Medcore collects:</p>
        <ul>
          <li>
            Data provided by users when they create their accounts;
          </li>
          <li>
            Data originated by users when they use our services;
          </li>
        </ul>
      </div>
      <div class="content">
        <p>Medcore collects information provided by users. This includes:</p>
        <ul>
          <li>
            <h4>User profile:</h4>
            <p>
              Medcore collects information when one account is created or
              updated. This may include your name, birth date, email address,
              phone number, login name and password, profile picture and
              address.
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <h4>User content</h4>
            <p>
              Medcore collects information when users upload content in our
              platform. This primarily include Curriculum Vitae, Certificates,
              Degrees, Letters of Recommendation and other documents related to
              professional prospects.
            </p>
          </li>
        </ul>
        <p>
          Medcore collects information generated when users use our services.
          This includes:
        </p>
        <ul>
          <li>
            <h4>Device Information</h4>
            <p>
              Medcore collects information generated when users log into their
              accounts. This includes ip address, user agent, date &amp; time
              and url.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-row">
      <h2>How we use your information</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>
          Medcore collects and uses the information collected to establish
          matches between clients and ---. We also use data for these other
          matters:
        </p>
        <ul>
          <li>Safety and Security</li>
          <li>Customer Support</li>
        </ul>
      </div>
      <div class="content">
        <p>Medcore collects data for the following purposes:</p>
        <ul>
          <h4>Providing services and features</h4>
          <p>
            The information collected by Medcore is primarily used to provide
            and improve our online services, which includes using this
            information to:
          </p>
          <ul>
            <li>Create and update user's account</li>
            <li>
              Verify your identity and the validity of the provided content
            </li>
            <li>Enable matching between clients and ---</li>
            <li>Enable tracking of project development</li>
            <li>
              Enable mechanisms to allow and secure communications between all
              users
            </li>
          </ul>
        </ul>
        <ul>
          <h4>Safety and Security</h4>
          <p>
            The information collected by Medcore is also used to ensure the
            integrity, security and precision of our online services. This
            includes:
          </p>
          <ul>
            <li>
              Our use of strictly necessary and analytics cookies to keep track
              of unusual session log ins or to verify account sign-ups
            </li>
          </ul>
        </ul>

        <ul>
          <h4>Customer Support</h4>
          <p>
            The information collected by Medcore is in addition used to assist
            and improve the communication between us and our clients, which
            helps Medcore Team to keep track of ongoing projects through our
            online platform. This includes:
          </p>
          <ul>
            <li>Request forms or contact forms</li>
            <li>Personal communication</li>
          </ul>
        </ul>

        <!--When the time comes:
                  <li>Research and development</li>
                  <li>Communications among users</li>
                  <li>Communications from Medcore</li>
                  <li>Legal proceedings and requirements</li>
                  -->
      </div>
    </div>
    <div class="container-row">
      <h2>Cookies and Third Party Technologies</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>
          Medcore's Cookie Statement can be found at
          <a href="#" target="_blank">Cookie Statement</a>. Here users can find
          just an overview of our cookie policy and no settings configurations.
        </p>
      </div>
      <div class="content">
        <p>
          Cookies are small text files that online companies use in order to
          recognize and remember users' activities from one session to the
          other. Cookies fall into different categories, such as: Strictly
          Necessary, Analytics &amp; Performance, Advertisement and Mobile
          Specific. More information about our cookie policy can be found here:
          <a href="#" target="_blank">Cookie Statement</a>.
        </p>
        <p>Medcore uses cookies for purposes such as:</p>
        <ul>
          <li>Authenticating users</li>
          <li>Security</li>
          <li>Remembering user preferences</li>
        </ul>
      </div>
    </div>
    <div class="container-row">
      <h2>Information Sharing and Disclosure</h2>
      <div class="summary ">
        <h6>Summary</h6>
        <p>
          Medcore does not share any information with third parties. It is
          simultaneously the data processor and controller.
        </p>
      </div>
      <div class="content">
        <p>
          Usually online services share, disclose and collect information in
          partnership with external agents. Branches of companies, processor
          partners and others third-party connection related somehow to data
          administration fall into external agents.
        </p>
        <p>
          Medcore does not have any relationship with external agents regarding
          data administration. It is simultaneously the data controller and
          processor. If in the future any change happens in this regarding, all
          clients will be contacted and asked once again for their consent.
        </p>
      </div>
    </div>
    <div class="container-row">
      <h2>Information retention and deletion</h2>
      <div class="summary">
        <h6>Summary</h6>
        <ul>
          <li>Different types of data have different retention deadlines.</li>
          <li>Account cancelation is possible at any time</li>
          <li>Required information to be kept, is stored anonymize</li>
        </ul>
      </div>
      <div class="content">
        <p>
          As seen above Medcore collects information provided by users from
          account sign-ups and content uploads, or information originated while
          using our services. Provided and Originated Information are different
          and consequently have different legal requirements.
        </p>
        <p>
          Medcore retains Provided Information as long as the account is
          maintained active. Consequently, during this period all data regarding
          the specific user is kept, from the first moment when the account was
          created until the last activity on our platform.
        </p>
        <p>
          Different types of data have different legal requirements. So it is
          expected that Medcore keeps some types of information for longer
          periods than others. Bound with different statutory agents from
          different locations, essential information is kept for a minimum of 10
          years. In Medcore's case we work with information regarding
          intellectual property, clients' accounts, the service originated data,
          payment and other considered essential information. Information
          retention is anonymized after account deletions.
        </p>
        <p>
          Account cancelation is possible at any time through the Privacy
          Setting. Responding to such requests, Medcore stores the information
          it is required to keep due to legal requirements, and deletes all
          other data. However, if the account has any sight of unsolved
          activity, the account can not be deleted at that moment. The user will
          be contacted in this case and the account delete procedure can follow
          according to the expected account deletion procedure and respective
          unsolved issue.
        </p>
        <p>
          Medcore may additionally retain certain information if necessary for
          its' legitime business interests, such as fraud prevention and
          enhancing users' safety and security. For example: Medcore may revoke
          access of users with unusual behavior who have access to sensitive
          information to prevent information leak. These situations are further
          investigated and if not legitimate restored.
        </p>
      </div>
    </div>
    <div class="container-row">
      <h2>EU users</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>
          The processing of personal data of users in the European Union is
          subject to the EU General Data Protection Regulation (“GDPR" active
          since May 25, 2018) and additionally, subject to local statutory
          agents. On the side, users can keep up with GDPR's requirements and EU
          users' privacy rights.
        </p>
      </div>
      <div class="content">
        <h5>Rights related to users' data</h5>
        <p>
          The EU legal aspects regarding data protection and processing grounds
          became since beginning of May 25, 2018 subject to the
          <a
            href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ENG&toc=OJ:L:2016:119:TOC"
            target="_blank"
            >EU General Data Protection Regulation ("GDPR")</a
          >. Below users can find information about EU user's rights regarding
          both data and processing rights.
        </p>
        <ul>
          <li>
            <h4 class="laws">
              a. User's right to access their data
            </h4>
            <p>
              Users have the right to be informed about the collection and use
              of their personal data. Users can exercise this right through:
            </p>
            <ul>
              <li>
                Requesting a copy of the information Medcore maintains from
                users
              </li>
              <li>
                Requesting an explanation of the information Medcore collects
                and processes from users
              </li>
              <li>
                Users can access these Request Forms here:<a
                  href="#"
                  target="_blank"
                >
                  Explanation, Copy, Correction and Objection Reports</a
                >
              </li>
            </ul>
          </li>
          <li>
            <h4 class="laws">
              b. User's right to correct their data
            </h4>
            <p>
              Users have the right to have inaccurate personal data rectified,
              or complemented if it is incomplete. Users can exercise this right
              here:
            </p>
            <ul>
              <li>
                You can access these Request Forms here:<a
                  href="#"
                  target="_blank"
                >
                  Explanation, Copy, Correction and Objection Reports</a
                >.
              </li>
            </ul>
            <p>
              Additionally, it is important to know that Medcore should get back
              to users, upon Correction Requests, within a period of time.
              However, in some circumstances, this time limit can be extended.
            </p>
            <p>
              Finally, online services do also have the right to deny some
              Correction Requests, which usually happens when users continuously
              demand requests or present an invalid argumentation on the form
              request.
            </p>
          </li>
          <li>
            <h4 class="laws">
              c. User's right to delete their account and data
            </h4>
            <p>
              Users have the right to request deletion of their account under
              User Account on Medcore website.
            </p>
            <p>
              However, Medcore might maintain some information requested by law
              as already stated on this policy. More information about data
              retention can be found above under the topic "Information
              retention and deletion".
            </p>
          </li>
          <li>
            <h4 class="laws">
              d. User's right to restrict the processing of their data
            </h4>
            <p>
              Users have the right to object to the processing of their personal
              data. They can request so through:
              <a href="#" target="_blank">
                Explanation, Copy, Correction and Objection Reports</a
              >.
            </p>
            <p>
              Additionally, it is important to know that Medcore might store
              users' data even if requested to not be processed, due to legal
              requirements.
            </p>
          </li>
          <li>
            <h4 class="laws">e. User's right to transport their data</h4>
            <p>
              Users have the right to receive a copy of their data as stated
              under "User's right to access their data" but also reuse it for
              their own purposes across different services.
            </p>
            <p>
              This right only applies to information provided by users directly
              to Medcore.
            </p>
          </li>
          <li>
            <h4 class="laws">
              f. User's right to object automated decision making
            </h4>
            <p>
              Users have the right to object specifically automated decision
              making. They can exercise this right through:
              <a href="#" target="_blank">
                Explanation, Copy, Correction and Objection Reports</a
              >.
            </p>
          </li>
        </ul>
        <h5>Processing Grounds</h5>
        <p>
          Regarding the processing grounds of Medcore online activities, clients
          can find below the reason why the processing of data is necessary to
          provide our services. Medcore processes information of clients based
          on pillars stated under GDPR.
        </p>
        <ul>
          <h4 class="laws">a. Service provision</h4>
          <p>
            Medcore online services depends on collecting and processing
            information from users in order to establish matches and keep record
            of projects. This includes:
          </p>
          <ul>
            <li>
              User profile information, necessary to create and secure clients
              account;to establish communication between service provider and
              user; and to follow up career development.
            </li>
            <li>
              User content information, necessary to confirm background
              information (e.g CVs and Certificates) uploaded to user's account.
            </li>
            <li>
              Originated information, which is necessary to maintain, optimize
              and enhance our services. Mainly, used to improve matches between
              clients and ---; keep record of project development; and ensure
              our legal interests.
            </li>
          </ul>
        </ul>
        <ul>
          <h4 class="laws">
            b. Security of clients and others
          </h4>
          <p>
            Medcore may process information, and disclose data with law
            enforcement authorities in case of threats to our users or team.
          </p>
        </ul>
        <ul>
          <h4 class="laws">
            c. Medcore legitime interests
          </h4>
          <p>
            Medcore collects and uses information for its legitimate interests.
            This includes collecting and using information:
          </p>
          <ul>
            <li>
              To enhance users' security and service provision. The processing
              of background check information is one example of it. We want to
              certify that the information uploaded is accurate, matches are
              consequently properly so that the service provision is not flawed
              on its grounds.
            </li>
            <li>
              To prevent, detect and shred fraud or misleading information in
              connection with users.
            </li>
            <li>To provide customer support</li>
            <li>
              To optimize our services and develop new services on our platform.
              This includes, for example, using information to better understand
              how to introduce online payment and performance evaluation
              methods.
            </li>
            <li>To enforce our Terms of Service policy.</li>
          </ul>
        </ul>
        <ul>
          <h4 class="laws">d. Fulfillment of statutory requirements</h4>
          <p>
            The processing is necessary to keep an up-to-date, transferable and
            traceable record of information in order to comply to the basis of
            applicable laws, which differ from country to country. This
            includes:
          </p>

          <li>
            Medcore may process information when necessary in regards to a
            substantial public interest, followed and required by law
            enforcements; and even share this information with legal agents upon
            proper legal procedures.
          </li>
        </ul>
        <ul>
          <h4 class="laws">e. Consent</h4>
          <p>
            The actions Medcore take on a client behalf regarding his data is
            legitimate through client's prior consent, which is a data use
            agreement between users and Medcore.
          </p>
          <p>
            Users can revoke given consent at any time directly under there
            settings. However, it is important to know that it will influence
            their use of our platform once our services work upon the processing
            of these information. The following types of data collections or
            uses are done on the basis of your consent:
          </p>
          <li>Profile information</li>
          <li>Content Information</li>
          <li>Generated information</li>
          <li>Strictly necessary and performance cookies</li>
          <p>
            In the section below "Choice and transparency" users can see how
            they can exercise their rights to opt in and opt out from our data
            practices, and the respective consequences of opting out or not.
          </p>
          <!---<p>Surveys are not standard procedures but might be done in order to collect information directly related to Medcore platform, which are send via email or online taken.</p>-->
        </ul>
      </div>
    </div>
    <div class="container-row">
      <h2>Choices and transparency</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>
          Users can exercise their rights related to how Medcore collects and
          uses their data by the following mechanism:
        </p>
        <ul>
          <li>privacy settings</li>
          <li>marketing opt-outs</li>
          <li>explanations, copies, correction and objection</li>
          <!---<li>device permissions</li>-->
        </ul>
        <p>
          Reports on clients' data can be requested at
          <a href="#" target="_blank">
            Explanation, Copy, Correction and Objection Reports</a
          >.
        </p>
      </div>
      <div class="content">
        <h4 class="laws">a. Privacy Settings</h4>
        <p>
          On Medcore website under user's account, clients can access their
          privacy setting menu, where they can configure their notification
          preferences. Below users can find a described explanation on how to
          set up their accounts accordantly to their desired configurations
        </p>
        <div class="block">
          <h5>Notifications</h5>
          <p>
            Users can accept or not notifications sent directly by Medcore. This
            setup is reachable at any time under client's privacy settings in
            his account. By default notifications are active, as described on
            Terms of Service, this preference can also be changed directly by
            the notification email itself on the bottom of the notification:
            "Email Preferences".
          </p>
        </div>
        <h4 class="laws">b. Marketing Outputs</h4>
        <p>
          Users can opt out of any marketing email sent by Medcore at any
          moment. It is important to know that to opt out from marketing email
          does not mean that clients will not be contacted at all. On the
          contrary, they could still be contacted for legal or standard
          procedures.
        </p>
        <h4 class="laws">
          c. explanations, copies, correction and objection requests
        </h4>
        <p>Once again regarding your rights, clients can request:</p>
        <li>
          Documentation with detailed explanation about the information Medcore
          collects from them, respectively.
        </li>
        <li>
          Documentation of their data in a transferable format to other online
          providers.
        </li>
        <li>
          Corrections of an incomplete or inconsistent information about them.
        </li>
        <li>
          Objections regarding the processing of their personal data and
          automatic decision making.
        </li>
        <p>
          All these requests can be through here:
          <a href="#" target="_blank">
            Explanation, Copy, Correction and Objection Reports</a
          >.
        </p>
      </div>
    </div>
    <div class="container-row">
      <h2>Updates to this policy</h2>
      <div class="summary">
        <h6>Summary</h6>
        <p>
          This policy may occasionally be updated according to legal changes. If
          so clients' consents will be once again requested.
        </p>
      </div>
      <div class="content">
        <p>
          We enhance the importance of a good and transparent privacy practice.
          For this reason, we encourage users to check this policy periodically.
          In case of a new privacy policy, clients are automatically contacted
          via their email address and the user's consent upon the new policy is
          once again requested. A history of our privacy policies will be kept
          registered and online for users to be up-to-date with it.
        </p>
      </div>
    </div>
  </div>
</template>
<style>
      /*Structure*/
      body {
        padding: 10rem;
        margin: 0 auto;
        max-width: 80rem;
      }
      .container-row {
        align-content: space-between;
        align-items: first baseline;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
      }
      .container-row h2 {
        flex: 0 0 100%;
        font-weight: 500;
        margin-left: 30%;
      }
      .container-row .summary {
        margin-bottom: 40px;
        margin-right: 5%;
        width: 25%;
      }
      .container-row .content {
        border-bottom: 1px solid #ccc;
        margin: 0 0 40px;
        padding: 0 0 40px;
        width: 70%;
      }
      .summary p {
        text-align: left;
        color: rgb(73, 73, 73);
        direction: ltr;
        font-size: 16px;
        line-height: 1.56;
        overflow: visible;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        margin: 0;
      }
      .content p {
        text-align: left;
        font-size: 14px;
        line-height: 1.71;
        margin: 14px 0;
      }
      /*Typography*/
      html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
        color: #000;
      }
      h1 {
        font-size: 32px;
        line-height: 28px;
        margin-bottom: 16px;
        font-weight: 700;
        padding: 0;
        margin-top: 0;
        direction: ltr;
        text-align: left;
      }
      h2 {
        font-size: 32px;
        line-height: 28px;
        margin-bottom: 16px;
        font-weight: 700;
        padding: 0;
        margin-top: 0;
        direction: ltr;
        text-align: left;
      }
      h4 {
        margin-bottom: 0px;
        text-align: left;
        font-size: 14px;
        line-height: 1.71;
      }
      h5 {
        margin-bottom: 0px;
      }
      h6 {
        color: #333;
        font-size: 16px;
        font-weight: 350;
        text-align: left;
        text-transform: uppercase;
        margin-top: 0;
      }
      /*Lists, links, spans and others*/
      .contact {
        margin-top: 10px;
      }
      a {
        text-decoration: none;
      }
      strong {
        font-size: 14px;
      }
      .summary li {
        text-align: left;
        color: rgb(73, 73, 73);
        direction: ltr;
        font-size: 16px;
        line-height: 1.56;
        overflow: visible;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        list-style-type: square;
      }
      .content li {
        text-align: left;
        font-size: 14px;
        line-height: 1.71;
        list-style-type: square;
      }
      .content ul p {
        margin-top: 7px;
        margin-bottom: 7px;
      }
      p {
        margin: 0;
      }
      .laws {
        text-transform: uppercase;
      }
      /*Media Queries*/
      @media only screen and (max-width: 600px) {
      }
      @media only screen and (min-width: 600px) {
      }
      @media only screen and (min-width: 768px) {
      }
    </script>